
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 158.1rem;
}.landing-page-design-bKJ {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-rjpe-pxk {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 12.1rem 18.4rem 12.9rem;

    .auto-group-vrx8-5GQ {
      height: 60rem;
      background-size: 100% 164.194%;
      background-position: 0 -15.0131rem;
      background-image: url('REPLACE_IMAGE:b06a3f8385752f7825bdb4a51278226eef214f2f');
      border-radius: 1.6rem;
      flex-shrink: 0;
      margin: 0rem 0rem 12rem 1.1rem;
      width: 132rem;

      .frame-68-aDA {
        box-sizing: border-box;
        padding: 17.7rem 39rem 17.7rem 38rem;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #070211 -0%, rgba(7, 2, 17, 0) 100%);
        border-radius: 1.6rem;

        .frame-99-6hJ {
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .happy-new-year-2qr {
            margin: 0rem 0rem 1.5rem 1.5rem;
            font-weight: 400;
            color: #ffffff;
            font-family: Merriweather, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 3.2rem;
            line-height: 1.2575;
            flex-shrink: 0;
          }
          .new-year-party-celebration-Dor {
            text-align: center;
            font-size: 7.2rem;
            font-weight: 900;
            line-height: 1.3194444444;
            color: #ffffff;
            font-family: Merriweather, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 55rem;
          }
        }
      }
      .auto-group-vrx8-5GQ-bg {
        width: 132rem;
        height: 60rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:b06a3f8385752f7825bdb4a51278226eef214f2f');
      }
    }
    .frame-50-mD6 {
      margin: 0rem 26.7rem 3.6rem 26.1rem;
      width: calc(100% - 52.8rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .off-sX2 {
        margin-bottom: 4.8rem;
        text-align: center;
        font-weight: 700;
        flex-shrink: 0;
        font-size: 8.8rem;
        line-height: 1.2125;
        color: #ff0000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .frame-45-C3W {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;

        .frame-10-YdA {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 19.7rem 10.9rem 19.6rem;
          width: calc(100% - 39.3rem);
          align-items: center;
          display: flex;

          .our-holiday-deals-are-better-5d6 {
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 1.5rem 0.1rem;
            font-size: 2.4rem;
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            line-height: 1.2125;
            color: #ff0000;
          }
          .all-categories-Bg8 {
            line-height: 1.2125;
            color: #070211;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 4.8rem;
            font-weight: 700;
          }
        }
        .new-year-photo-1-us2 {
          width: 80.3rem;
          height: 52.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .frame-98-2Rr {
      box-sizing: border-box;
      height: 60rem;
      align-items: center;
      background-size: cover;
      background-position: center;
      margin: 0rem 1.867rem 12rem 0.8rem;
      padding: 6.811rem 12.266rem 6.723rem 12.066rem;
      width: calc(100% - 2.6675rem);
      display: flex;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:1:21');
      flex-shrink: 0;

      .auto-group-btzn-hXz {
        flex-shrink: 0;
        margin: 5.789rem 5.317rem 7.377rem 0rem;
        width: 68.8rem;
        height: calc(100% - 13.1662rem);

        .welcome-to-midnight-party-PQp {
          line-height: 1.375;
          letter-spacing: 0.704rem;
          color: #ffffff;
          font-family: Merriweather, 'Source Sans Pro';
          margin: 0rem 0rem 2.4rem 0.384rem;
          max-width: 59.1rem;
          font-size: 6.4rem;
          font-weight: 900;
        }
        .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-4Wx {
          font-weight: 400;
          line-height: 1.6666666667;
          color: rgba(255, 255, 255, 0.8000000119);
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 4.8rem;
          max-width: 68.8rem;
          font-size: 1.8rem;
        }
        .join-now-iLc {
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
      .frame-37z {
        width: 31.983rem;
        height: 46.4662rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .frame-93-9Rv {
      box-sizing: border-box;
      width: calc(100% - 2.8rem);
      background-image: url('REPLACE_IMAGE:1:2571');
      flex-shrink: 0;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0rem 1.3rem 13rem 1.5rem;
      padding: 10rem 40.833rem 10rem 40.867rem;
      height: 47.2rem;
      background-size: cover;

      .frame-92-Svp {
        width: 100%;
        height: 100%;
        position: relative;

        .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-Qck {
          height: 22.4rem;
          left: 0;
          font-weight: 600;
          color: #070211;
          font-family: Inter, 'Source Sans Pro';
          width: 48.6rem;
          top: 0;
          text-align: center;
          font-size: 3.2rem;
          line-height: 1.75;
          text-transform: capitalize;
          position: absolute;

          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-Qck-sub-0 {
            font-weight: 600;
            line-height: 1.75;
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-Qck-sub-1 {
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-Qck-sub-2 {
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.75;
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-Qck-sub-3 {
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-Qck-sub-4 {
            line-height: 1.75;
            text-transform: capitalize;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 600;
          }
          .place-new-park-hotel-date-31-december-night-2023-time-evening-730-pm-to-1230-am-Qck-sub-5 {
          }
        }
        .frame-1-SDz {
          font-size: 2rem;
          line-height: 1.2125;
          background-color: #ff0000;
          width: 16.7rem;
          left: 16.0994rem;
          color: #ffffff;
          white-space: nowrap;
          position: absolute;
          text-transform: uppercase;
          align-items: center;
          text-align: center;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          border-radius: 0.8rem;
          height: 5.6rem;
          top: 21.6rem;
        }
      }
    }
    .frame-48-oik {
      margin: 0rem 1.7rem 12rem 0.866rem;
      width: calc(100% - 2.5662rem);
      height: 46.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .frame-46-5gG {
        margin: 0rem 6.434rem 14rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-17-Ckt {
          margin-bottom: 2.1rem;
          width: 32.8rem;
          flex-shrink: 0;

          .new-best-offer-Ypk {
            font-size: 2.4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 1.6rem;
            width: 100%;
            max-width: 12.4rem;
            text-align: center;
            font-weight: 500;
            color: #ff0000;
          }
          .coming-soon-fPa {
            line-height: 1.2575;
            text-transform: capitalize;
            color: #070211;
            font-family: Merriweather, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 4.8rem;
            font-weight: 900;
          }
        }
        .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-bHE {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.5rem;
          max-width: 39rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.6;
          color: rgba(7, 2, 17, 0.6000000238);
        }
      }
      .group-20-Fsa {
        position: relative;
        flex-shrink: 0;
        margin-right: 10.7rem;
        width: 46.3rem;
        height: 100%;

        .ellipse-1-oPJ {
          top: 4.9078rem;
          border-radius: 18.2422rem;
          position: absolute;
          height: 36.4844rem;
          left: 4.9078rem;
          background-size: 150.038% 100%;
          background-position: -9.1279rem 0;
          background-image: url('REPLACE_IMAGE:288d8ac3517dc6676cf84411f416ac8ce35e396b');
          width: 36.4844rem;

          .ellipse-1-oPJ-bg {
            position: relative;
            background-image: url('REPLACE_IMAGE:288d8ac3517dc6676cf84411f416ac8ce35e396b');
            width: 36.4844rem;
            height: 36.4844rem;
          }
        }
        .ellipse-2-TCx {
          border-radius: 23.15rem;
          width: 46.3rem;
          height: 46.3rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 1.5rem #ff0000;
          box-sizing: border-box;
        }
      }
      .auto-group-eivy-B8x {
        margin-top: 9.3rem;
        width: 27.6rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-18-v6Y {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          width: 100%;

          .item-2024-sXa {
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 0.3rem;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #ff0000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-agt {
            flex-shrink: 0;
            max-width: 27.6rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
            color: rgba(7, 2, 17, 0.6000000238);
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .group-96-1-HbJ {
          width: 14rem;
          height: 14rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 6.6rem;
        }
      }
    }
    .frame-82-cNg {
      margin: 0rem 0rem 7.193rem 0.934rem;
      width: 132.1662rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-78-97i {
        margin: 0rem 17.65rem 6.4rem 16.016rem;
        width: calc(100% - 33.6662rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-77-sZW {
          margin: 0rem 15.45rem 2.8rem 15.35rem;
          width: calc(100% - 30.8rem);
          height: 13.6rem;
          position: relative;
          flex-shrink: 0;

          .what-is-functional-19v {
            width: 15.7rem;
            left: 20.8068rem;
            font-weight: 500;
            color: #070211;
            font-family: Inter, 'Source Sans Pro';
            height: 5.9rem;
            position: absolute;
            top: 0;
            font-size: 2.4rem;
            line-height: 1.2125;
          }
          .holidays-sale-50-W6g {
            display: flex;
            top: 4.5rem;
            text-align: center;
            font-family: Inter, 'Source Sans Pro';
            left: 0;
            line-height: 1.2102272246;
            font-size: 7.2rem;
            font-weight: 700;
            color: #070211;
            white-space: nowrap;
            width: 67.7rem;
            height: 9.1rem;
            position: absolute;
            align-items: baseline;

            .holidays-sale-50-W6g-sub-0 {
              font-size: 7.2rem;
              font-weight: 900;
              line-height: 1.2575;
              color: #ff0000;
              font-family: Merriweather, 'Source Sans Pro';
            }
            .holidays-sale-50-W6g-sub-1 {
              font-weight: 900;
              line-height: 1.2575;
              color: #070211;
              font-family: Merriweather, 'Source Sans Pro';
              font-size: 7.2rem;
            }
          }
        }
        .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-eleifend-nunc-purus-quam-id-fermentum-amet-amet-sit-consectetur-jtY {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 98.5rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.6;
          color: rgba(7, 2, 17, 0.6000000238);
        }
      }
      .auto-group-gvpp-o7i {
        width: 100%;
        height: 66.207rem;
        position: relative;
        flex-shrink: 0;

        .group-79-wUp {
          left: 0;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 132.1662rem;
          height: 66.207rem;
          position: absolute;
        }
        .frame-83-gBW {
          position: absolute;
          left: 73.0224rem;
          top: 0;
          width: 57.8438rem;
          height: 43.3rem;

          .rectangle-1-CvY {
            position: relative;
            background-size: 151.553% 100%;
            background-image: url('REPLACE_IMAGE:a92c606c3423b2e65635b13cdcddc7b4787f5a0d');
            width: 42.9rem;
            height: 43.3rem;
            background-position: -5.998rem 0;
            border-radius: 1.6rem 1.6rem 0 0;
            left: 14.9438rem;
            top: 0;
          }
          .objects-4xk {
            position: absolute;
            top: 7.6956rem;
            overflow: hidden;
            background-image: url('REPLACE_IMAGE:1:2561');
            width: 30.5735rem;
            height: 30.5754rem;
            left: -0.003rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .vector-nNx {
              vertical-align: top;
              width: 28.7347rem;
              height: 28.7347rem;
              position: absolute;
              left: 0.9204rem;
              top: 0.9218rem;
              object-fit: contain;
            }
            .group-97-7AL {
              width: 15.4499rem;
              height: 15.246rem;
              position: absolute;
              left: 6.3468rem;
              top: 5.8711rem;

              .item-5-1mW {
                font-family: Inter, 'Source Sans Pro';
                width: 4.8rem;
                height: 8.9rem;
                left: 0;
                top: 6.3334rem;
                line-height: 1.2125;
                position: absolute;
                font-size: 7.3015rem;
                font-weight: 700;
                color: #ffffff;
                white-space: nowrap;
              }
              .item-0-Vgg {
                font-family: Inter, 'Source Sans Pro';
                height: 8.9rem;
                left: 3.8074rem;
                font-size: 7.3015rem;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;
                width: 11.3rem;
                position: absolute;
                top: 0;
                font-weight: 700;
              }
              .dis-QYk {
                height: 3rem;
                position: absolute;
                font-size: 2.4338rem;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 4.2rem;
                left: 4.8063rem;
                top: 12.246rem;
                font-weight: 900;
                line-height: 1.2125;
                color: #ffffff;
              }
              .c-7i4 {
                width: 1.9rem;
                height: 3rem;
                font-size: 2.4338rem;
                font-weight: 900;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                position: absolute;
                left: 8.1273rem;
                top: 11.2813rem;
                white-space: nowrap;
              }
              .oun-35v {
                position: absolute;
                font-weight: 900;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 5.5rem;
                height: 3rem;
                font-size: 2.4338rem;
                line-height: 1.2125;
                left: 9.4962rem;
                top: 8.3264rem;
              }
              .t-xig {
                font-family: Raleway Black, 'Source Sans Pro';
                white-space: nowrap;
                height: 3.1rem;
                left: 14.0499rem;
                top: 7.4231rem;
                line-height: 1.2575;
                color: #ffffff;
                width: 1.4rem;
                position: absolute;
                font-size: 2.4338rem;
                font-weight: 900;
              }
            }
          }
        }
      }
    }
    .frame-80-Fxg {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 1.3rem 10.4rem 0rem;
      display: flex;

      .auto-group-rdgx-ak4 {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 2.3rem;
        width: 87.2rem;
        height: 21.6rem;

        .the-best-gifts-v3E {
          height: 5.9rem;
          left: 0.9338rem;
          font-size: 2.4rem;
          color: #ff0000;
          font-family: Inter, 'Source Sans Pro';
          width: 11.6rem;
          top: 0;
          font-weight: 500;
          line-height: 1.2125;
          position: absolute;
        }
        .our-awesome-portfolio-2c4 {
          font-weight: 900;
          color: #070211;
          position: absolute;
          height: 12.1rem;
          left: 0.9rem;
          top: 4.7rem;
          font-size: 4.8rem;
          line-height: 1.2575;
          text-transform: capitalize;
          font-family: Merriweather, 'Source Sans Pro';
          width: 34.5rem;
        }
        .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-X32 {
          color: rgba(7, 2, 17, 0.6000000238);
          font-family: Inter, 'Source Sans Pro';
          height: 6.4rem;
          top: 15.2rem;
          font-size: 2rem;
          line-height: 1.6;
          width: 87.2rem;
          position: absolute;
          left: 0;
          font-weight: 400;
        }
      }
      .auto-group-xa6q-Mnk {
        margin: 0rem 0rem 2.4rem 1.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .rectangle-3-UsN {
          border-radius: 1.6rem;
          width: 42.4rem;
          background-position: 0 -3.5755rem;
          background-image: url('REPLACE_IMAGE:edebdb2c7a9c4850842fb04fa334eb4adf728b81');
          background-size: 100% 142.115%;
          flex-shrink: 0;
          margin-right: 1.8rem;
          height: 45rem;
          position: relative;
        }
        .rectangle-4-m5n {
          vertical-align: top;
          border-radius: 1.6rem;
          flex-shrink: 0;
          margin-right: 1.7rem;
          width: 42.4rem;
          height: 45rem;
          object-fit: cover;
        }
        .rectangle-5-UVz {
          vertical-align: top;
          border-radius: 1.6rem;
          flex-shrink: 0;
          width: 42.4rem;
          height: 45rem;
          object-fit: cover;
        }
      }
      .auto-group-ggfe-QPe {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: 1.1rem;

        .rectangle-6-Lo6 {
          border-radius: 1.6rem;
          flex-shrink: 0;
          width: 42.4rem;
          height: 45rem;
          background-size: 156.077% 100%;
          background-position: -19.5366rem 0;
          margin-right: 1.8rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:ad148d01aac299b2eb334e0e257d4c1ca1373e78');
        }
        .rectangle-7-RZe {
          width: 42.4rem;
          height: 45rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.6rem;
          flex-shrink: 0;
          margin-right: 1.7rem;
        }
        .rectangle-8-AGL {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.6rem;
          flex-shrink: 0;
          width: 42.4rem;
          height: 45rem;
        }
      }
    }
    .frame-65-hXA {
      box-sizing: border-box;
      width: 132rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-left: 0.7rem;
      padding: 3.586rem 23.3rem 8.007rem 21.5rem;
      background-color: rgba(255, 0, 0, 0.0500000007);
      border-radius: 1.6rem;
      flex-shrink: 0;

      .frame-62-1nk {
        width: 100%;
        height: 33.607rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 9.2rem;

        .frame-60-kVS {
          position: absolute;
          left: 0;
          top: 14.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 87.2rem;
          height: 19.007rem;

          .subscribe-newsletter-gtt {
            font-size: 4.8rem;
            text-transform: capitalize;
            color: #070211;
            font-family: Merriweather, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0.1rem 0.507rem 0rem;
            max-width: 26.3rem;
            text-align: center;
            font-weight: 900;
            line-height: 1.2575;
          }
          .dolor-sit-amet-consectetur-consequat-eget-consectetur-maecenas-sed-molestie-malesuada-ipsum-sed-sodales-risus-ut-pellentesque-vel-euismod-nBE {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 87.2rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.6;
            color: rgba(7, 2, 17, 0.6000000238);
          }
        }
        .group-61-1-rgt {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 15rem;
          height: 15.1rem;
          position: absolute;
          left: 36rem;
        }
      }
      .frame-64-Pgp {
        margin: 0rem 10.8rem 0rem 11.6rem;
        padding: 0rem 0.6rem 0rem 2.9rem;
        width: calc(100% - 22.4rem);
        background-color: #ffffff;
        border-radius: 5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 7.2rem;
        display: flex;
        align-items: center;

        .usergmailcom-HXJ {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 26.2rem;
          text-align: center;
          color: rgba(7, 2, 17, 0.3000000119);
          white-space: nowrap;
          flex-shrink: 0;
        }
        .frame-63-zgc {
          display: flex;
          flex-shrink: 0;
          text-align: center;
          font-weight: 600;
          text-transform: capitalize;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          white-space: nowrap;
          font-size: 2rem;
          background-color: #ff0000;
          border-radius: 0 5rem 5rem 0;
          width: 21rem;
          height: 100%;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .frame-59-2NQ {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12rem 12.1rem 9rem 13.669rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #070211;

    .frame-43-Ldz {
      margin: 0rem 16.923rem 1rem 0.164rem;
      width: calc(100% - 17.0871rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .big-building-roosevelt-street-beach-gardens-florida-33410-GXe {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 58.3663rem;
        max-width: 33.9rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.6666666667;
      }
      .frame-42-xvG {
        width: 22.9771rem;
        flex-shrink: 0;

        .frame-40-7oA {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          width: calc(100% - 1rem);

          .frame-4yJ {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.5771rem;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
          }
          .item-00-123-584-124-QGU {
            font-weight: 500;
            line-height: 1.6666666667;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 18rem;
            font-size: 2.4rem;
          }
        }
        .frame-41-uyv {
          width: 100%;
          display: flex;
          align-items: center;

          .frame-H5N {
            margin-right: 1.5771rem;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .wwwwebsitecom-DUp {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 19rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.6666666667;
          }
        }
      }
    }
    .line-1-M5E {
      width: 132rem;
      height: 0.1rem;
      background-color: rgba(255, 255, 255, 0.150000006);
      flex-shrink: 0;
      margin: 0rem 0rem 2.1rem 0.331rem;
    }
    .auto-group-b2p4-rXn {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 54.1rem 7.1rem 42.531rem;
      width: calc(100% - 96.6305rem);

      .facebook-1-yMW {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 5rem;
        width: 6.4rem;
        height: 6.5rem;
        object-fit: cover;
      }
      .instagram-1-iK6 {
        width: 6.4rem;
        height: 6.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.8rem;
      }
      .twitter-1-TGg {
        height: 6.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 6.4rem;
      }
      .linkedin-1-bdn {
        margin-top: 0.2rem;
        width: 6.4rem;
        height: 6.5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .line-2-KJt {
      margin: 0rem 0rem 4.9rem 0.331rem;
      width: 132rem;
      height: 0.1rem;
      background-color: rgba(255, 255, 255, 0.150000006);
      flex-shrink: 0;
    }
    .auto-group-v9nt-SuJ {
      margin-right: 4.5046rem;
      width: calc(100% - 4.5046rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .all-rights-reserved-C7n {
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 97.3259rem;
        max-width: 17.4rem;
        font-size: 2.4rem;
      }
      .unsubscribe-JwW {
        max-width: 13.1rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
}
